.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 9vh;
  height: 91vh;


  background: url('../../../../../../assets/header-bg.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}

.header-content > div {
  width: 830px;
  height: 500px;
  display: flex;
  flex-direction: column;
}