.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 9vh;
  height: 91vh;
  background: rgb(59, 59, 59);

  .content {
    position: absolute;
    width: 830px;
    height: 500px;
    display: flex;
    flex-direction: column;
  }
}