.nav-bar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 9vh;
  width: 100%;
  margin: 0 auto;
  
  
  background-color: #eee;
  color: #FFA84F;
  
  
  transition: 0.2s all ease-in;
  z-index: 5;
}

.nav-bar__logo {
  margin-left: 15px;
  height: 80%;
  width: auto;
}

@media (max-width: 550px) {
  .nav-bar__logo {
    height: 60%;
  }
}