.auth-form {
  width: 360px;
  height: 370px;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;

  
  border-radius: 10px;

  background-color: #eee;
}

.auth-form__title {
  margin-top: 20px;
  font-size: 25px;
}

.auth-form > input {
  margin-top: 20px;
  border: 2px solid rgb(255, 168, 79);
  border-radius: 10px;
  width: 75%;
  height: 40px;
  text-align: center;
  font-size: 22px;
}

.auth-form__pupil-login-button, .auth-form__teacher-login-button {
  width: 75%;
  height: 50px;
  margin-top: 20px;
  border-radius: 10px;

  background-color: rgb(116, 116, 116);
  color: white;
  text-align: center;
  font-size: 20px;

  transition: 0.3s all ease;
  cursor: pointer;
}

.auth-form__pupil-login-button:hover, .auth-form__teacher-login-button:hover {
  background-color: rgb(133, 133, 133);
}

.auth-form__change-password-button {
  margin-top: 15px;


  background: none;
  font-size: 20px;
  color: rgb(133, 133, 133);
  cursor: pointer;
}

.auth-form__change-password-button:hover {
  color: rgb(88, 88, 88);
}